.formControl.error input,
.error textarea{
    border: 1px solid red;
}

.formControl.error span{
    display: block;
    color: red;
}

.loginError{
    color: red;
    border: 1px solid red;
    padding: 5px;
}
